
.reports-show.maxwidth
  %h5
    = link_to '[~]', edit_report_path(@report)
    Report #{link_to @report.title, report_path(@report)}
    %br
    `#{@report.slug}`
    .gray.mini= @report.id

  = render 'wco/tags/index_chips', tags: @report.tags

  .descr= raw @report.body
