
.sites-index.flexwidth
  %h5
    Sites
    = link_to '[+]', new_site_path

  %table.bordered
    %tr
      %th &nbsp;
      %th slug
      -# %th kind
      %th origin
      -# %th post_path
    - @sites.each do |site|
      %tr
        %td
          .flex-row
            = button_to '[x]', site_path(site), method: :delete, data: { confirm: 'Are you sure?' }
            = link_to '[~]', edit_site_path(site)
            .gray.mini= site.id
        %td= link_to site.slug, site_path(site)
        -# %td= site.kind
        %td= site.origin
        -# %td= site.post_path
