
.sites-show.padded
  .maxwidth
    .header
      %h5.title
        = @site

    = render '/wco/tags/header'
    = render '/wco/tags/index', tags: @site.tags

  %h5.d-flex
    Sitemap Paths&nbsp;
    = link_to '[+]', new_sitemap_path_path( site_id: @site.id )
    &nbsp;
    = button_to 'check', check_sitemap_path( site: @site ), data: { confirm: 'Are you sure?' }
  = render '/wco/sitemap_paths/form', spath: @new_sitemap_path
  -# %hr
  = render '/wco/sitemap_paths/index', spaths: @site.sitemap_paths
