
.videos--index.container-fluid
  = paginate videos, param_name: :videos_page, views_prefix: 'wco'

  .row
    - videos.each do |video|
      .col-md-4
        .d-flex
          .thumb= image_tag video.thumb.url(:thumb), class: 'thumb'
          .a
            .title
              = link_to video.name, video_path( video )
            .d-flex
              = link_to '[~]', edit_video_path( video )
              = button_to '[x]', video_path( video ), :method => :delete, :data => { :confirm => 'Are you sure?' }
            = render 'meta', item: video

  = paginate videos, param_name: :videos_page, views_prefix: 'wco'


