
.tags-show.padded

  %h5 Tag `#{@tag.slug}`

  %ul
    - if defined? wco_email
      %li.d-flex
        <b>Conversations (#{@tag.conversations.length}):&nbsp;</b>
        - if @tag.conversations.present?
          .Conversations
            = render '/wco_email/conversations/table', convs: @tag.conversations.page( params[::WcoEmail::Conversation::PAGE_PARAM_NAME] )
      %li.d-flex
        <b>Message Stubs (#{@tag.message_stubs.length}):&nbsp;</b>
        = render '/wco_email/message_stubs/index', stubs: @tag.message_stubs.page( params[::WcoEmail::MessageStub::PAGE_PARAM_NAME] )

    %li.d-flex
      <b>Galleries (#{@galleries.length}):&nbsp;</b>
      = render '/wco/galleries/index', galleries: @galleries.page( params[::Wco::Gallery::PAGE_PARAM_NAME] ), config: { skip_tags: true }
    %li.d-flex
      <b>Headlines (#{@tag.headlines.length}):&nbsp;</b>
      = render '/wco/headlines/index', headlines: @tag.headlines.page( params[::Wco::Headline::PAGE_PARAM_NAME] )

    %li.d-flex
      <b>Leadsets (#{@tag.leadsets.length}):&nbsp;</b>
      = render '/wco/leadsets/index_list', leadsets: @tag.leadsets.page( params[::Wco::Leadset::PAGE_PARAM_NAME] )
    %li.d-flex
      <b>Leads (#{@tag.leads.length}):&nbsp;</b>
      = render '/wco/leads/index', leads: @tag.leads.page( params[::Wco::Lead::PAGE_PARAM_NAME] )

    %li.d-flex
      <b>Reports (#{@reports.length}):&nbsp;</b>
      = render '/wco/reports/index', reports: @reports.page( params[::Wco::Report::PAGE_PARAM_NAME] ), config: { skip_tags: true }
