
.sitemap-paths--index
  %table.bordered.data-table
    %thead
      %td Path
      -# %td Redirect To
      -# %td Selector
      %td Status
    %tbody
      - spaths.each do |spath|
        %tr
          %td
            = link_to '[~]', edit_spath_path(spath)
            .d-inline-block= button_to 'check', check_spath_path(spath), method: :get
            = link_to "#{@site.origin}#{spath.path}","#{@site.origin}#{spath.path}", target: :_blank
            - if spath.redirect_to
              %div
                \-> &nbsp;
                = spath.redirect_to
            - if spath.selector
              .green.ml-5= spath.selector
          %td= spath.status
