
.sitemap-paths--index
  %table.bordered.data-table
    %thead
      %td Path
      -# %td Redirect To
      -# %td Selector
      %td Status
    %tbody
      - spaths.each do |spath|
        %tr
          %td
            = link_to '[~]', edit_spath_path(spath)
            = spath.path
            - if spath.redirect_to
              %div
                \-> &nbsp;
                = spath.redirect_to
            - if spath.selector
              .green.ml-5= spath.selector
          %td= spath.status
