
.sitemap-paths-check.maxwidth

  .d-flex
    = link_to 'Index', site_path(@spath.site)
    %b.ml-3.mr-3= link_to @spath.path, spath_path(@spath)
    = link_to '[~]', edit_spath_path(@spath)
    = button_to 'clear', clear_spath_path(@spath), data: { confirm: 'Are you sure?' }

  .spaths-check
    %ul
      - @spath.results.each do |pt|
        %li= pt
